body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#displayedImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ageCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ageCheck-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

.buttons button:first-child {
    background-color: #e74c3c;
    color: white;
}

.buttons button:last-child {
    background-color: #ecf0f1;
    color: #333;
}

