body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
}

#ageCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://KISHINAMI-1.github.io/usagihara.github.io/images/01-01.png');
    background-size: cover;
    background-position: center;
}

.ageCheck-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.ageCheck-content h2 {
    margin: 0;
    padding-bottom: 10px;
}

.ageCheck-content p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

.buttons button:first-child {
    background-color: #e74c3c;
    color: white;
}

.buttons button:last-child {
    background-color: #ecf0f1;
    color: #333;
}

