body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #444;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 10px;
    }
}

#ageCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#ageCheck h1 {
    margin-bottom: 20px;
}

#ageCheck button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#slideshow {
    position: relative;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#slideshow img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
}

.slide-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.slide-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slide-button:nth-child(1) {
    left: 0;
    transform: translateY(-50%);
}

.slide-button:nth-child(3) {
    right: 0;
    transform: translateY(-50%);
}

#homeContent {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#homeContent h2, #homeContent p {
    margin: 10px 0;
}

#homeContent a {
    color: #007BFF;
    text-decoration: none;
}

#homeContent a:hover {
    text-decoration: underline;
}
